<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <h2>Names from cassandra db:</h2>
    <%= names.length %>
    <ul>
      <% for (var i = 0; i < names.length; i++) { %>
        <li>
          <%= names[i].first_name %>
        </li>
      <% } %>
    </ul>
  </body>
</html>
